<div>
  <button>Synchronizuj dane z bieżącego roku dla dostępnych walut</button>
  <div>
    <label for="currency">Select Currency:</label>
    <select id="currency" [(ngModel)]="selectedCurrency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
      <!-- Add more options as needed -->
    </select>
  </div>
  <h1>{{ title }}</h1>
  <table *ngIf="rates">
    <tr>
      <th>Data</th>
      <th>Kurs</th>
    </tr>
    <tr *ngFor="let rate of rates.rates">
      <td>{{ rate.effectiveDate }}</td>
      <td>{{ rate.mid }}</td>
    </tr>
  </table>
</div>
